
/* Error Message */
.ap_contact_alert .alert.alert-success,.ap_contact_alert .alert.alert-block {
    clear: both;
    float: none;
    margin: 10px auto;
    padding: 0;
    text-align: center;
    width: 96%;
    min-height: 0px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0 .1);
}

.ap_contact_alert #message {
    color: #F00;
    clear: both;
    display: table;
    text-align: center;
    margin: 0 auto 10px;
}

.ap_contact_alert #message h4 {
    margin-top: -19px!important;
    padding: 10px 0;
    font-size: 150%;
    line-height: 140%;
}

.ap_contact_alert span.label {
    font-size: 14px;
    margin: 2px 10px 0;
    padding: 5px 10px;
    line-height: 110%;
    vertical-align: top;
}

.ap_contact_alert .alert.alert-success #message {
    color: #F00;
    clear: both;
    display: table;
    text-align: center;
    margin: 0 auto 20px;
}

.ap_contact_alert .close {
    top: 7px;
    padding: 7px;
    right: 5px;
    font-size: 26px;
}

.ap_contact_alert #message h4 {
    margin-top: -7px;
    padding: 10px 0;
    font-size: 150%;
    line-height: 140%;
}

.ap_contact_alert #message p {
    color: #555;
}

.ap_contact_form .btn,.ap_contact_alert .text,.ap_contact_form .textarea,.ap_contact_alert label.error,
.ap_contact_alert label.ok {
    float: left;
}

.ap_contact_alert a {
    color: #fff;
}

.ap_contact_alert a img {
    border: 0;
}

/* Form */
.ap_ajax_qc {
    margin: 0 auto;
    padding: 0;
    min-height: 0px;
    font-size: 15px;
    width: 100%;
}

.ap_ajax_qc form {
    padding: 0;
    margin: 0;
}

.ap_ajax_qc .input {
    display: block;
    margin: 0 0 12px 0;
    padding: 0;
}

.ap_ajax_qc .input label,
.ap_ajax_qc .input.for_captcha label,
.ap_ajax_qc .input.for_submit label {
    line-height: 25px;
}

.ap_ajax_qc input,
.ap_ajax_qc textarea {
    margin: 0;
}

/* Validation (error) */
.ap_ajax_qc .error {
    clear: both;
    display: none;
    padding: 2px 6px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 90%;
    color: #D03A33;
}

.ap_ajax_qc .success {
    clear: both;
    width: 99%;
    padding: 10px 0;
    margin: 10px auto;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.ap_ajax_qc .success h1,.ap_ajax_qc .success h2,.ap_ajax_qc .success h3 {
    border: none;
    box-shadow: none;
    margin: 3px auto 16px;
}

.ap_ajax_qc .success a.close {
    margin-right: 5px;
    margin-top: -3px;
    padding: 0 5px;
    font-size: 20px;
}

.ap_ajax_qc input,
.ap_ajax_qc textarea {
    display: inline-block;
    height: 25px;
    padding: 10px!important;
    margin: 0 0 0 5px!important;
    font-size: 100%;
    line-height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ap_ajax_qc .for_message {
    vertical-align: top;
    padding: 0;
}

.ap_ajax_qc .for_message label {
    margin-right: 0;
    padding-right: 0;
}

.ap_ajax_qc .for_message textarea {
    margin-left: 5px;
}

.ap_ajax_qc .for_message > .error {
    vertical-align: top;
    top: 3px;
    position: relative;
}

.ap_ajax_qc .for_captcha label {
    vertical-align: middle;
    padding: 6px 0;
    margin-right: 5px;
}

.ap_ajax_qc .for_captcha input {
    font-size: 100%;
    vertical-align: middle;
    padding: 6px 0 6px 10px;
    margin-left: 3px;
    letter-spacing: 1px;
}

.ap_ajax_qc .for_captcha span.nmbr {
    padding: 7px 5px;
    vertical-align: middle;
    margin: 0 auto;
    font-weight: bold;
}

.ap_ajax_qc label {
    display: inline-block;
    text-align: right;
    margin: 0;
    padding: 8px 0;
    vertical-align: top;
    color: #777;
}

.ap_ajax_qc textarea {
    height: auto;
}

.ap_ajax_qc input, .ap_ajax_qc textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.ap_ajax_qct textarea:focus,.ap_ajax_qct input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.ap_ajaxqc input[placeholder]::-webkit-input-placeholder:after,
.ap_ajaxqc textarea[placeholder]::-webkit-input-placeholder:after {
    color: #ec7d7d;
    content: "*";
    padding: 2px 3px;
}

.ap_ajaxqc input[placeholder]::-webkit-input-placeholder,
.ap_ajaxqc textarea[placeholder]::-webkit-input-placeholder {
    color: #ccc;
}

.ap_ajaxqc input[placeholder]:focus::-webkit-input-placeholder,
.ap_ajaxqc textarea[placeholder]:focus::-webkit-input-placeholder {
    color: #e7e7e7;
}

.ap_ajaxqc input[placeholder]:focus::-webkit-input-placeholder::after,
.ap_ajaxqc textarea[placeholder]:focus::-webkit-input-placeholder::after {
    color: #e7e7e7;
    content: "*";
}

.ap-btn i {
    font-size: 13px;
    color: #aaa;
    margin-right: 6px;
    margin-left: -5px;
    padding: 0;
    left: 0;
}

.ap-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 8px 25px;
    margin-bottom: 0;
    margin-left: 6px;
    font-size: 100%;
    line-height: 22px;
    *line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbbbbb;
    *border: 0;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ap-btn:hover,.ap-btn:active,.ap-btn.active,.ap-btn.disabled,.ap-btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.ap-btn:active,.ap-btn.active {
    background-color: #cccccc \9;
}

.ap-btn:first-child {
    *margin-left: 0;
}

.ap-btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.ap-btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.ap-btn.active,.ap-btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ap-btn.disabled,.ap-btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ap-btn-large {
    padding: 9px 14px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ap-btn-large [class^="icon-"] {
    margin-top: 2px;
}

.ap-btn-small {
    padding: 3px 9px;
    font-size: 12px;
    line-height: 18px;
}

.ap-btn-small [class^="icon-"] {
    margin-top: 0;
}

.ap-btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 17px;
}

.ap-btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ap-btn-block+.ap-btn-block {
    margin-top: 5px;
}

input[type="submit"].ap-btn-block,input[type="reset"].ap-btn-block,input[type="button"].ap-btn-block {
    width: 100%;
}

.ap-btn-primary.active,.ap-btn-warning.active,.ap-btn-danger.active,.ap-btn-success.active,.ap-btn-info.active,.ap-btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}

.ap-btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

button.ap-btn,input[type="submit"].ap-btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.ap-btn::-moz-focus-inner,input[type="submit"].ap-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button.ap-btn.ap-btn-large,input[type="submit"].ap-btn.ap-btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}

button.ap-btn.ap-btn-small,input[type="submit"].ap-btn.ap-btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.ap-btn.ap-btn-mini,input[type="submit"].ap-btn.ap-btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}

.ap-btn-link,.ap-btn-link:active,.ap-btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ap-btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #0088cc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ap-btn-link:hover {
    color: #005580;
    text-decoration: underline;
    background-color: transparent;
}

.ap-btn-link[disabled]:hover {
    color: #333333;
    text-decoration: none;
}

/* Loader */
.ap_ajaxqc .ap-btn span .fa-spin {
    font-size: 18px;
    color: #777;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {
    .ap_contact_alert .alert.alert-success,.ap_contact_alert .alert.alert-block {
        width: 88%;
    }
}

@media (max-width: 480px) {
    .ap_contact_alert .alert.alert-success,.ap_contact_alert .alert.alert-block {
        width: 84%;
    }

    .ap_ajax_qc .input.for_submit label {
        width: 0;
        margin: 0;
        height: 0px;
        display: none;
    }

    .ap-btn {
        display: block;
        width: 98%;
        padding: 7px 22px;
        margin-bottom: 0;
        margin-top: 15px;
    }

    .ap_ajax_qc label {
        text-align: left;
        margin: 0 auto;

        padding: 0 0 3px 15px;
    }

    .ap_ajax_qc input,.ap_ajax_qc textarea,.ap_ajax_qc .error {
        margin: 0 auto;
        padding: 2px;
    }

    .ap_ajax_qc input#captcha {
        margin-left: 3px;
    }

    .ap_ajax_qc .for_captcha label {
        margin-right: 5px;
        margin-left: 12px;
    }

    .ap_ajax_qc .for_captcha span.nmbr {
        padding: 7px 5px;
        vertical-align: middle;
        margin: 0 auto;
    }
}