/*
 * Overrides CSS
 */

/*debugging alt-tags bei images - rausnehmen bei Go-Live! */
img[alt=""],
img:not([alt]) {
  border: 5px dashed #c00

}
/*fonts*/
@font-face{
    font-family:"EurostileLTW02-BoldEx2";
    src:url("/templates/die-strafverteidiger-089web/fonts/788263/2a79221f-ba37-4662-9270-50e26629d7d5.eot?#iefix");
    src:url("/templates/die-strafverteidiger-089web/fonts/788263/04807d96-ce9f-4c0b-a0a0-dff68111bd48.ttf") format("truetype");
}
@font-face{
    font-family:"Eurostile LT W02 Medium788284";
    src:url("/templates/die-strafverteidiger-089web/fonts/788284/ab0743e1-0532-4d33-a0fc-a351b1ecbb3e.eot?#iefix");
    src:url("/templates/die-strafverteidiger-089web/fonts/788284/b1f73f8c-6875-4f00-801a-a3fc9b6551d1.ttf") format("truetype");
}
/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1180px;
      margin: 0px auto;
  }
}


/* critical CSS */
button.btn-navbar:active {
outline: none;
border: none;
}
button.btn-navbar:focus {outline:0;}

body.desktop.start {
    overflow-y: hidden;      
}
body {
    animation:fadein .5s ease-in-out forwards;
      -webkit-animation:fadein .5s ease-in-out forwards; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }


:root {
  --first-color: #fdb25f; /*orange*/
  --second-color: #3d3d3d;
}
.clr {
    clear: both;
}
div#aboveTheFold,
div#belowTheFold {
    height: 100vh;
}
h1, h2, h3, nav, .vcard {
    font-family: 'Eurostile LT W02 Medium788284';
}
p, ul {
    font-size: 18px;
    line-height: 25px;
    font-family:"Eurostile LT W02 Medium788284";
}

/*lzyLoad*/
/*.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}*/
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.spaceBetween {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.spaceAround {
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
/*header*/
body.desktop header#header {
    position: absolute;
    width: 100%;
    top: 12vh;
    left: 0;
    z-index: 1;
}
body.not_home header#header {
    z-index: 1;
}
body.desktop .flexItem.last {
    margin-right: 60px;
}
body.desktop.not_home a.brand {
    position: absolute;
    top: -110px;
}
a.brand:hover {
    text-decoration: none;
}
.site-description h2 {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    padding: 10px 30px;
    letter-spacing: 1px;
}
body.is_home .site-description h2 {
    font-size: calc(24px + (42 - 24 ) * ((100vw - 320px) / (1920 - 320) ));
    font-family: 'EurostileLTW02-BoldEx2';    
}
body.not_home .site-description h2 {
    font-size: calc(24px + (32 - 24 ) * ((100vw - 320px) / (1920 - 320) ));    
    font-family: 'EurostileLTW02-BoldEx2';
}
body.start .site-description h2 {
    padding: 20px 30px;
}
body.desktop div.vcard {
    width: 280px;
}
.vcard,
.site-description h2 {
    background: rgba(115, 115, 115, 0.7);
    box-shadow: 6px 5px 20px -4px #3d3d3d;
}
.vcard {
    text-align: right;
    padding: 10px 80px 10px 60px;
    letter-spacing: 1px;
}
h3.vcardHeader {
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
}
p.tel,
h3.vcardHeader {
    font-size: calc(18px + (26 - 18 ) * ((100vw - 320px) / (1920 - 320)));
}
p.tel {
    font-size: 23px;
}
p.tel a {
    color: var(--first-color);
}
p.org span,
p.adr {
    display: none;
}
p.org {
    /*text-align: right;*/
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;    
}
/*<--END header*/

/*content*/
.custom.anwaltDetailDesc,
.custom.anwaltDesc__bottom {
    position: relative;
}
a#scrollDownLink,
a#scrollBack {
    position: absolute;
    left: 45%;
}
a#scrollDownLink {
    bottom: 30px;
}
a#scrollBack{
    top: 30px;
}
.anwaltDesc {
    border-left: 4px solid #737373;
    padding: 15px 10px 15px 5px;
}
a.anwaltMore {
    margin: 30px 0px;
    color: #f7b353;
}
.anwaltDesc p {
    font-size: 14px;    
}
.anwaltDesc {
    color: #737373;
}
h3.anwaltFocus,
h3.anwaltName {
    color: #fff;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 25px;
    text-transform: uppercase;
}
h3.anwaltName {
    background: rgba(115, 115, 115, 0.9);
    padding: 5px;
    border-radius: 2px;
}
.anwalt a:hover .anwaltHover {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
/*.anwalt.raLickleder .anwaltHover,
.anwalt.raMansdoerfer .anwaltHover {
    top: 120px;
}*/
body.desktop .anwaltHover {
    min-height: 265px;
    min-width: 280px;
    position: relative;
    top: -90px;
}
body.desktop .anwaltHover.rb {
    top: -100px;
}
.anwaltHover {
    z-index: 3;
    box-shadow: -2px 2px 50px -10px #484848;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition: opacity .3s linear,
      -webkit-transform 0.5s ease-in-out;
    transition: opacity .3s linear,
      -webkit-transform 0.5s ease-in-out;
    -o-transition: opacity .3s linear,
      transform 0.5s ease-in-out;
    transition: opacity .3s linear,
      transform 0.5s ease-in-out;
    transition: opacity .3s linear,
      transform 0.5s ease-in-out,
      -webkit-transform 0.5s ease-in-out;
}
body.desktop .anwaltHover.pw {
    left: 20px;
}
body.desktop .anwaltHover.fz {
    left: -100px;
}
body.desktop .anwaltHover.al {
    left: 70px;
}
body.desktop .anwaltHover.rb {
    left: -430px;
}
body.desktop .anwaltHover.mm {
    left: -330px;
}
body.desktop .anwaltHover.rl {
    left: -430px;
}

/*anwaltDetail*/
a.anwaltDetailEmail {
    color: #6f6f6f;
    font-size: 16px;
    margin: 30px 0px;
    display: block;
    text-decoration: underline;
    width: 12em;
}
.descBelowLabel>h3 {
    font-size: 21px;
    line-height: 25px;
    font-weight: normal;
}
.anwaltDetailDesc {
    color: #6f6f6f;
}
body.mobile .custom.anwaltDetailDesc {
    margin: 30px;
}
body.desktop .custom.anwaltDetailDesc {
    height: 25.4vh;     
}
body.desktop .custom.anwaltDetailDesc,
body.desktop .anwaltDesc__bottom {
    margin: 0px 100px;
    padding-top: 5vh;
}
.anwaltDetail h2.anwaltName,
.anwaltDetail__bottom h2 span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family:"EurostileLTW02-BoldEx2";
}
.anwaltDetail h2 {
    color: #fff;    
}
.anwaltDetail h2,
.anwaltDetail__bottom h2 span {
    font-size: 22px;
}
.anwaltDetail h2 span,
.anwaltDetail__bottom h2 span {
    color: var(--first-color);
}
.anwaltDetail__bottom h2 {
    color: #6f6f6f;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.5px;    
}
body.desktop .anwaltDetail {
      -ms-flex-item-align: center;
          align-self: center;    
}
body.desktop .anwaltDetail,
body.desktop .descBelowText,
body.desktop .activity {
      -ms-flex-preferred-size: 55%;
          flex-basis: 55%;
}
body.desktop .spriteContainer {
      -ms-flex-item-align: end;
          align-self: flex-end;
}
body.desktop .spriteContainer,
body.desktop .descBelowLabel,
body.desktop .vita {
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
}
body.desktop .item-page.raDetail .articleBody {
    height: 48vh;
}
body.desktop .anwaltDetailDesc,
body.desktop .anwaltDetailContainer,
body.desktop .anwaltVita,
.footerBanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
body.desktop .anwaltDetailContainer {
    height: inherit;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

/*<--- END anwaltDetail*/

/*video*/
video.raVideo {
    width: 507px;
    height: 380px;
    z-index: 9999;
    position: relative;
}
/*<---END video*/

/* img sprites
 * CG: die values für jeden einzelnen MÜSSEN eigens gesetzt werden wg. window onload Class-> ready-Style drunter!
 * Udn weil jeder seine eigene Duration braucht! 
 */
       
      .spriteImg {
          opacity: 0;
          width: 507px;
          height: 380px;
          overflow: hidden;
          transition: opacity 0.5s linear;
      }
    /*dr Beyer*/      
      body#body .raDetail__Beyer .spriteImg {
            background: url('/images/anwaelte/drBeyer-image-sprite-B.png') right center;
            position: relative;
            bottom: -4px;
      }      
      body.desktop.raDetail__Beyer.ready .spriteImg {
        opacity: 1;
        -webkit-animation: imgSprite__Beyer 3.5s steps(98) forwards;
        animation: 
          imgSprite__Beyer 3.5s steps(98) forwards;86

      }
        @-webkit-keyframes imgSprite__Beyer {
          from { background-position: 0px; }
          to { background-position: -49686px; }
        }
        @keyframes imgSprite__Beyer {
          from { background-position: 0px; }
          to { background-position: -49686px; }
        }
    /*<---END dr Beyer*/

    /*F Zur*/             
      body#body .raDetail__Zur .spriteImg {
            background: url('/images/anwaelte/zur-image-sprite.png') right center;
            position: relative;
            bottom: -4px;
      }
      body.desktop.raDetail__Zur.ready .spriteImg {
        opacity: 1;
        -webkit-animation: imgSprite__Zur 2.5s steps(50) forwards;
        animation: 
          imgSprite__Zur 2.5s steps(50) forwards;

      }      
        @-webkit-keyframes imgSprite__Zur {
          from { background-position: 0px; }
          to { background-position: -25350px; }
        }
        @keyframes imgSprite__Zur {
          from { background-position: 0px; }
          to { background-position: -25350px; }
        }      
    /*<--- END F Zur*/

    /*A Lickleder*/             
      body#body .raDetail__Lickleder .spriteImg {
            background: url('/images/anwaelte/lickleder-image-sprite.png') right center;
            position: relative;
            bottom: -4px;
      }
      body.desktop.raDetail__Lickleder.ready .spriteImg {
        opacity: 1;
        -webkit-animation: imgSprite__Lickleder 4s steps(67) forwards;
        animation: 
          imgSprite__Lickleder 4s steps(67) forwards;

      }      
        @-webkit-keyframes imgSprite__Lickleder {
          from { background-position: 0px; }
          to { background-position: -33969px; }
        }
        @keyframes imgSprite__Lickleder {
          from { background-position: 0px; }
          to { background-position: -33969px; }
        }      
    /*<--- END A Lickleder*/  

    /*P Wagner*/             
      body#body .raDetail__Wagner .spriteImg {
            background: url('/images/anwaelte/wagner-image-sprite.png') right center;
            position: relative;
            bottom: -4px;
      }
      body.desktop.raDetail__Wagner.ready .spriteImg {
        opacity: 1;
        -webkit-animation: imgSprite__Wagner 2.8s steps(65) forwards;
        animation: 
          imgSprite__Wagner 2.8s steps(65) forwards;

      }      
        @-webkit-keyframes imgSprite__Wagner {
          from { background-position: 0px; }
          to { background-position: -32955px; }
        }
        @keyframes imgSprite__Wagner {
          from { background-position: 0px; }
          to { background-position: -32955px; }
        }      
    /*<--- END P Wagner*/        

    /*M Mansdoerfer*/             
      body#body .raDetail__Mansdoerfer .spriteImg {
            background: url('/images/anwaelte/mansdoerfer-image-sprite.png') right center;
            position: relative;
            bottom: -4px;
      }
      body.desktop.raDetail__Mansdoerfer.ready .spriteImg {
        opacity: 1;
        -webkit-animation: imgSprite__Mansdoerfer 2.8s steps(61) forwards;
        animation: 
          imgSprite__Mansdoerfer 2.8s steps(61) forwards;

      }      
        @-webkit-keyframes imgSprite__Mansdoerfer {
          from { background-position: 0px; }
          to { background-position: -30927px; }
        }
        @keyframes imgSprite__Mansdoerfer {
          from { background-position: 0px; }
          to { background-position: -30927px; }
        }      
    /*<--- END P Mansdoerfer*/ 

    /*M Mansdoerfer*/             
      body#body .raDetail__Gabler .spriteImg {
            background: url('/images/anwaelte/gabler-image-sprite.png') right center;
            position: relative;
            bottom: -4px;
      }
      body.desktop.raDetail__Gabler.ready .spriteImg {
        opacity: 1;
        -webkit-animation: imgSprite__Gabler 3.2s steps(74) forwards;
        animation: 
          imgSprite__Gabler 3.2s steps(74) forwards;

      }      
        @-webkit-keyframes imgSprite__Gabler {
          from { background-position: 0px; }
          to { background-position: -37518px; }
        }
        @keyframes imgSprite__Gabler {
          from { background-position: 0px; }
          to { background-position: -37518px; }
        }      
    /*<--- END P Mansdoerfer*/  

      /*M Lang*/             
      body#body .raDetail__Lang .spriteImg {
            background: url('/images/anwaelte/lang-image-sprite.png') right center;
            position: relative;
            bottom: -4px;
            -webkit-filter: brightness(94%);
                    filter: brightness(94%);
      }
      body.desktop.raDetail__Lang.ready .spriteImg {
        opacity: 1;
        -webkit-animation: imgSprite__Lang 3.2s steps(85) forwards;
        animation: 
          imgSprite__Lang 3.2s steps(85) forwards;

      }      
        @-webkit-keyframes imgSprite__Lang {
          from { background-position: 0px; }
          to { background-position: -43095; }
        }
        @keyframes imgSprite__Lang {
          from { background-position: 0px; }
          to { background-position: -43095px; }
        }      
    /*<--- END P Mansdoerfer*/  

/*<--- Detail END img sprites*/     

/*<---END img sprites*/
body.start .anwaltTeamView {
    opacity: 0;
    -webkit-transition: opacity .3s linear 0.5s;
    -o-transition: opacity .3s linear 0.5s;
    transition: opacity .3s linear 0.5s;
}
body.start.ready .anwaltTeamView {
    opacity: 1;
}
body.start .anwalt img {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
    -webkit-transition: 
      -webkit-filter 0.6s linear;
    transition: 
      -webkit-filter 0.6s linear;
    -o-transition: 
      filter 0.6s linear;
    transition: 
      filter 0.6s linear;
    transition: 
      filter 0.6s linear,
      -webkit-filter 0.6s linear;
}
body.start .raBeyer img {
    -webkit-transition-delay: 0.7s;
         -o-transition-delay: 0.7s;
            transition-delay: 0.7s;
}
body.start .raZur img {
    -webkit-transition-delay: 1.2s;
         -o-transition-delay: 1.2s;
            transition-delay: 1.2s;
}
body.start .raLickleder img {
    -webkit-transition-delay: 1.4s;
         -o-transition-delay: 1.4s;
            transition-delay: 1.4s;
}
body.start .raWagner img {
    -webkit-transition-delay: 1.6s;
         -o-transition-delay: 1.6s;
            transition-delay: 1.6s;
}
body.start .raMansdoerfer img {
    -webkit-transition-delay: 1.8s;
         -o-transition-delay: 1.8s;
            transition-delay: 1.8s;
}
body.start .raLang img {
    -webkit-transition-delay: 2s;
         -o-transition-delay: 2s;
            transition-delay: 2s;
}
body.desktop.start .anwalt img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
/*body.desktop.start.ready .anwalt img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}*/
body.start.ready .anwalt img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
}
body.start .anwalt.raLickleder a,
body.start .anwalt.raMansdoerfer a {
    position: relative;
    z-index: 2;
}
body.start .raBeyer img,
body.start .raLang img {
    position: relative;
    z-index: 3;
}
body.start .rowBehind {
    left: 0;
    width: 860px;
    /*z-index: 1;*/
}
body.start .rowMid {
    left: 170px;
    width: 905px;
    /*z-index: 2;*/
}
body.start .rowFront {
    left: 330px;
    width: 890px;
/*    z-index: 3;*/
}
body.start .rowFront,
body.start .rowMid,
body.start .rowBehind {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/*body.start .anwaltTeamView.flex {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}*/
body.start .content .anwaltWrapper {
    background: url('/images/strafverteidiger-header-bckgr.jpg') no-repeat;
    height: 60vh;
}
body.raDetail .content {
    background: url('/images/anwalt-detail-hintergrund.jpg') no-repeat; 
}
body.start .content .anwaltWrapper,
body.raDetail .content {
    background-size: cover;
    background-position: bottom;
    position: relative;
    border-bottom: 15px solid #737373;
}
body.start .anwaltTeamView {
/*    position: relative;*/
    width: 100%;
    height: inherit;
    overflow: hidden;
}
body.desktop.start .content {
    height: 60vh;
}
body.desktop.start div#module_105 {
    height: 18.5vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
img.anwaltBckgr {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.topBanner,
.footerBanner {
    background: #3d3d3d;
    height: 10vh;
}
.bannerItem.top {
  text-transform: uppercase;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
}
.bannerSlogan {
    text-transform: uppercase;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
footer .bannerSlogan {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}
.bannerSlogan h2 {
    color: #6b6b6b;
    font-size: 28px;
    font-family: 'EurostileLTW02-BoldEx2';
}
.bannerItem h2 {
    font-family: 'EurostileLTW02-BoldEx2';
    color: #fff;
    padding: 10px 50px;
    font-size: 16px;
    line-height: 20px;
}
.bannerItem h2 span {
    color: var(--first-color);
    font-size: 36px;
    letter-spacing: 2px;
}


/*<-- END content*/

 /*Menue*/
ul.nav-child.dropdown-menu li a {
    padding: 10px 50px 10px 20px;
}
body.desktop ul.nav-child {
    box-shadow: 0 16px 50px -5px rgba(0,0,0,0.8);
}
body#body.site ul.nav-child.dropdown-menu li a {
    color: #3d3d3d;
}
body#body.desktop ul.nav:hover ul.nav-child li>a {
    opacity: 1;
}
body#body.desktop ul.nav li a {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body#body.desktop ul.nav:hover li>a { 
    opacity: 0.5;
}
body#body.desktop  ul.nav li:hover>a {
    color: #fdb25f;
    opacity: 1; 
} 

body.site.desktop .navbar .nav {
    margin: 0 30px 0 0;
    width: 55%;
    float: none;
    left: 45%;
    z-index: 4;
}
body.desktop ul.nav.menu.nav-pills>li:first-child a {
    padding-left: 0px;
}
nav.navbar-wrapper {
    background: #3d3d3d;
}
body.site .navbar .nav>li>a  {
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 14px;
}
body.desktop.site .navbar .nav>li>a {
    font-size: calc(9px + (14 - 9) * ((100vw - 1024px) / (1920 - 1024 )));
}
body#body.site .navbar .nav .nav-child li a {
    font-size: 16px;
}
body#body.site .navbar .nav .nav-child li.active>a {
    color: #fdb25f;
    text-decoration: none;
    box-shadow: none;
    text-shadow: 1px 1px 7px #6f5719;    
}
body.site .navbar .nav>.active>a,
body.site .navbar .nav>.active>a:hover,
body.site .navbar .nav>.active>a:focus,
body#body.site .navbar .nav li.dropdown.open>.dropdown-toggle,
body#body.site .navbar .nav li.dropdown.active>.dropdown-toggle,
body#body.site .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: #fdb25f;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
}
body.site .navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
body.site .navbar .nav li.dropdown.open>.dropdown-toggle .caret,
body.site .navbar .nav li.dropdown.active>.dropdown-toggle .caret,
body.site .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: var(--first-color);
    border-bottom-color: var(--first-color);
}
.navbar .nav > li {
  display: inline-block;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0;
    background-color: transparent;
    background-image: none;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
body.desktop .navbar {
    padding: 1.9vh 0vw;
    height: 6.2vh;
}
.navbar {
    margin: 0 0 0px;
    position: relative;
/*    z-index: 999;*/
}
body.site .dropdown-menu {
    padding: 0px;
}
  /*hover / current active states*/
body#body .dropdown-menu>li>a {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}  
body#body .dropdown-menu>li>a:hover,
body#body .dropdown-menu>li>a:focus,
body#body .dropdown-submenu:hover>a,
body#body .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(111, 111, 111, 0.6);
    background-image: none;
    text-shadow: 1px 1px 7px #3c3c3c;
    filter: none;
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(111, 111, 111, 0.6);
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #f7b353;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/* non-critical CSS */
body#body.start div#belowTheFold {
    display: none;
}
.bottom {
    height: 80vh;
    border-width: 5.5vh 0 5vh 0;
    border-style: solid;
    border-color: #a6a6a6;
}
div#copyright p,
div#copyright a {
    font-size: 14px;
    color: #fff;
}
div#copyright p {
    padding: 0px 30px;
}
.footerBanner {
    height: 10vh;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.footerBanner #copyright,
.footerBanner .custom {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.anwaltVita {
    color: #6f6f6f;
}
.anwaltVita h3 {
    color: #6f6f6f;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}
.anwaltDesc__bottom ul li {
    font-size: 18px;
    line-height: 35px;
}

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}