/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media(max-width: 414px) and (orientation: portrait) {
/*critical*/
	body#body.phone .startNavItem,
	body#body.phone .startNavItem__anwaelte {
	    height: calc(140px + (185 - 140) * ((100vw - 320px) / (414 - 320 )));
	    width: calc(140px + (185 - 140) * ((100vw - 320px) / (414 - 320 )));
	}
	body#body.phone .startNavItem h2 {
	    line-height: calc(130px + (160 - 130) * ((100vw - 320px) / (414 - 320 )));
	    text-align: center;
	}	

}
@media(max-height: 700px) {
	body.desktop .anwalt img {
	    height: calc(300px + 1 * (100vh - 610px));
	}
}
@media(max-width: 980px) {
	/*critical*/
	body#body.desktop.start .anwalt img {
	    width: 75%;
	}
	body#body.desktop.start .rowBehind {
	    left: 0;
	    width: 678px;
	    z-index: 1;
	}
	body#body.desktop.start .rowMid {
	    left: 110px;
	    width: 726px;
	    z-index: 2;
	}
	body#body.desktop.start .rowFront {
	    left: 220px;
	    width: 657px;
	    z-index: 3;
	}
}

@media(max-width: 1200px) {
	/*critical*/
	body.phone .startNavItem__anwaelte.open .mobShowcase:after {
		transform: translate(0%,0%);
	    transition: transform .6s ease-in-out 0.7s;		
	}
	body.phone .mobShowcase:after {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    background: #8e8e8e;
	    transform: translate(-100%, -100%);
	    transition: transform 0s ease-in-out;
	}	
	body.phone h3.anwaltName {
	    background: transparent;
	    margin-right: 10px;
	}
	body#body.phone a.mobShowcase__item__link {
	    text-transform: lowercase;
	    color: var(--first-color);
	    margin-right: 10px;
	}	
	body.phone div.mobShowcase__item:after {
	    clear: both;
	    content: '';
	}
	body.phone img.mobShowcase__item__img {
	    float: left;
	}
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(2) .mobShowcase__item.
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(2):after {
		transition-delay: 0.7s;
	}	
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(3) .mobShowcase__item,
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(3):after {
		transition-delay: 0.8s;
	}
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(4) .mobShowcase__item,
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(4):after {
		transition-delay: 0.9s;
	}
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(5) .mobShowcase__item,
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(5):after {
		transition-delay: 1s;
	}
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(6) .mobShowcase__item,
	body.phone .startNavItem__anwaelte.open .mobShowcase:nth-of-type(6):after {
		transition-delay: 1.1s;
	}	
	body.phone .startNavItem__anwaelte.open .mobShowcase__item {
		opacity: 1;
		width: 100%;
		height: auto;		
		-webkit-transform: translateY(0px);		
		    -ms-transform: translateY(0px);		
		        transform: translateY(0px);
	    transition: transform 0.8s ease-in-out .5s,
	    			opacity 1s ease-in-out .5s;
	}
	body.phone .startNavItem__anwaelte .mobShowcase__item {
		opacity: 0;
		width: 0%;
		height: 0%;
		text-align: right;
	    -webkit-transform: translateY(-90px);
	        -ms-transform: translateY(-90px);
	            transform: translateY(-90px);
	    -webkit-transition: opacity 0.3s ease-in-out,
	    			-webkit-transform 0.3s ease-in-out;
	    transition: opacity 0.1s ease-in-out .5s,
	    			-webkit-transform 0.3s ease-in-out;
	    -o-transition: transform 0.3s ease-in-out,
	    			opacity 0.1s ease-in-out;
	    transition: transform 0.5s ease-in-out,
	    			opacity 0.1s ease-in-out;
	    transition: transform 0.1s ease-in-out,
	    			opacity 0.1s ease-in-out,
	    			-webkit-transform 0.5s ease-in-out;
	}
	body.phone .mobShowcase {
	    overflow: hidden;
	    position: relative;
	}
	body.phone .startNavItem__anwaelte.open .closeItem  {
		opacity: 1;
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
	}	
	body.phone .startNavItem__anwaelte .closeItem  {
		opacity: 0;
		position: absolute;
	    top: 5px;
	    right: 5px;
	    padding: 5px 3px 2px;
	    color: #fff;
	    font-size: 32px;
	    z-index: 3;
	    border: 1px solid #383838;
	    border-radius: 50%;
	    box-shadow: inset 0px 5px 15px #151515;
	    height: 27px;
	    width: 30px;
	    text-align: center;
	    display: inline-block;
	    vertical-align: middle;
		-webkit-transform: scale(0);
		    -ms-transform: scale(0);
		        transform: scale(0);
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	body#body.phone .startNavItem__anwaelte.open {
		height: 75vh; 
		width: 95vw;
		-webkit-transition: .4s ease-in-out .3s;
		-o-transition: .4s ease-in-out .3s;
		transition: .4s ease-in-out .3s;
	}
	body.phone .startNavItem__anwaelte {
		position: relative;
		height: 25vh;
    	width: 45vw;
    	overflow: scroll;
		-webkit-transition: .4s ease-in-out;
		-o-transition: .4s ease-in-out;
		transition: .4s ease-in-out;		
	}
	body.phone .startNavItem__link {
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
		-webkit-transition: 0.3s ease-in-out .4s;
		-o-transition: 0.3s ease-in-out .4s;
		transition: 0.3s ease-in-out .4s;
	}
	body.phone .startNavItem__link.shrink {
		-webkit-transform: scale(0);
		    -ms-transform: scale(0);
		        transform: scale(0);
		-webkit-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}	
	body.phone .startNavItem {
	    float: left;
	    margin: 10px;
	}
	body.phone #header .vcard p.org {
	    font-size: 16px;
	    line-height: 10px;
	}
	body.phone #header .vcard h3.vcardHeader {
	    font-size: 26px;
	    line-height: 20px;
	}
	body.phone #header .vcard {
		padding: 5px 50px;
	}
	body.phone .startNavItem h2,
	body.phone .startNavItem a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 1px;
	}
	body#body.phone .startNavItem.startNavItem__anwaelte.open h2 {
	    line-height: 20px;
	    padding: 10px 10px;
	    background: rgba(61, 61, 61, 0.9);
	    margin: 0;
	    -webkit-box-shadow: 0px 2px 20px -5px #000;
	            box-shadow: 0px 2px 20px -5px #000;
	    -webkit-animation: fadeOutIn 2s forwards;
	            animation: fadeOutIn 2s forwards;
	}	
	body.phone .startNavItem h2 {
	    line-height: 25vh;
	    text-align: center;
	    -webkit-box-shadow: none;
	            box-shadow: none;
	    background: transparent;
	    -webkit-transition: all .6s ease .5s;
	    -o-transition: all .6s ease .5s;
	    transition: all .6s ease .5s;
	}

		@-webkit-keyframes fadeOutIn {
			0% {opacity: 1;}
			30% {opacity: 0;}
			100% {opacity: 1; text-align: left;}
		}

		@keyframes fadeOutIn {
			0% {opacity: 1;}
			30% {opacity: 0;}
			100% {opacity: 1; text-align: left;}
		}

	body.phone .startNavItem {
	    height: 25vh;
	    width: 45vw;
	    background: rgba(61, 61, 61, 0.8);
	}
	body.mobile .btn-navbar .icon-bar+.icon-bar {
	    margin-top: 5px;
	}
	body.mobile .navbar .btn-navbar .icon-bar {
	    width: 35px;
	    height: 3px;
	}
	body.mobile button.btn.btn-navbar.collapsed,
	body.mobile button.btn.btn-navbar {
	    background-image: none;
	    background-color: transparent;
	    border: 0px;
	    box-shadow: none;
	}
	body.phone main#content {
	    position: absolute;
	    top: 18vh;
	}
	body.phone.is_home .content {
		background: url('/images/die-strafverteidiger-mobile-bckgr1.jpg') no-repeat;
		background-size: cover;
		top: 0;
	    width: 100%;
	    height: 100vh;
	    z-index: -1;
	}
	body.mobile .nav-collapse.collapse {
	    background: rgba(61, 61, 61, 0.8);
	}
	body#body.site.mobile ul.nav-child.dropdown-menu li a {
	    color: #fff;
	    padding: 10px 20px;
	    text-shadow: none;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body.mobile b.caret {
	    display: none;
	}
	body.phone div#belowTheFold {
		height: initial;
	}
/*	body.phone .content {
	    position: absolute;
	    top: 18vh;
	}*/
	body.phone div#aboveTheFold {
	    position: relative;
	}
	body.mobile .navbar .nav > li {
	    display: block;
	    margin: 3%;
	}
	body.phone {
	    padding-right: 0px;
	    padding-left: 0px;
	}
	body.phone.is_home .top {
	    display: none;
	}
	body.mobile div#module_105.startHover {
	    display: none;
	}
	body#body.phone .site-description {
		width: 100vw;
	}
	body#body.phone .site-description h2 {
	    font-size: calc(16px + (20 - 16 ) * ((100vw - 320px) / (414 - 320)));
	    padding: 0px 15px;
	    margin: 5px 0px 10px;
	    box-shadow: none;
	    white-space: nowrap;
	}
	body.phone .flexItem.last {
	    position: absolute;
	    bottom: 20px;
	    left: 50%;
	    margin-left: -140px;
	}
	body.phone #header .flex {
	    display: initial;
	}
	body.phone nav.navbar-wrapper {
	    background: rgba(61, 61, 61, 0.8);
	    position: absolute;
	    top: 8vh;
	    width: 100%;
	    z-index: 2;
	}
	body.phone header#header {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100vh;
	}
	body.desktop.start .anwalt img {
	    width: 80%;
	}
	body.desktop.start .rowBehind {
	    left: 0;
	    width: 758px;
	    z-index: 1;
	}
	body.desktop.start .rowMid {
	    left: 160px;
	    width: 796px;
	    z-index: 2;
	}
	body.desktop.start .rowFront {
	    left: 290px;
	    width: 767px;
	    z-index: 3;
	}
}
@media(max-width: 1280px) {
	/*critical*/
	body.site.desktop .navbar .nav>li>a {
		padding-left: 5px;
		padding-right: 5px;
	}
	body.site.not_home .site-description h2 {
		font-size: 18px;
	}	
}
@media(min-width: 1281px) {
	/*critical*/
	body.site .navbar .nav>li>a {
	    letter-spacing: 1px;
	    padding-right: calc(1px + (28 - 1) * ((100vw - 1024px) / (1920 - 1024)));
	    padding-left: calc(5px + (10 - 5) * ((100vw - 1024px) / (1920 - 1024)));
	}	
}

/*specials*/
@media(max-width: 767px) {
	/*critical*/
	body.desktop #resizeAlarm {
		display: block;
	}
	body.desktop .fullwidth.site_wrapper {
	    -webkit-filter: blur(10px);
	            filter: blur(10px);
	}	
}
@media(min-width: 768px) {
		/*critical*/
	body.desktop #resizeAlarm {
		display: none !important;
	}
	body.desktop .fullwidth.site_wrapper {
	    -webkit-filter: blur(0px);
	            filter: blur(0px);
	}		
}
@media(max-width: 1679px) {
	body.desktop .anwaltHover.pw {
    left: 20px;
	}
	body.desktop .anwaltHover.fz {
	    left: -100px;
	}
	body.desktop .anwaltHover.al {
	    left: 70px;
	}
	body.desktop .anwaltHover.rb {
	    left: -430px;
	}
	body.desktop .anwaltHover.mm {
	    left: -330px;
	}
	body.desktop .anwaltHover.rl {
	    left: -430px;
	}
}
